@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    /* font-size: 100%; */
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    /* width: 50%; */
}

.image-container {
    /* max-width: 50%; */
}

.image-container img {
    display: block;
    /* max-width: 100%;
    max-height: 100%; */
    width: 300px;
    /* height: fit-content; */
    /* object-fit: fill; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-container {
    /* max-width: 50%; */
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 8px;
}

.heading {
    max-width: 240px;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
}

.description {
    max-width: 260px;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
}

.price {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", serif;
    font-size: 2rem;
    gap: 20px;
}

.strike-text {
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
}

.add-to-cart {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}